#gaia_header {
	min-width: 1000px !important;
}
#gaia_header #header_left {
	float: none !important;
	position: absolute !important;
	left: calc(50% - 500px) !important;
	min-width: 500px !important;
	width: 500px !important;
	max-width: 500px !important;
}
#gaia_header #header_right {
	float: none !important;
	position: absolute !important;
	left: 50% !important;
	box-sizing: border-box !important;
	min-width: 500px !important;
	width: 500px !important;
	max-width: 500px !important;
	padding-right: 15px !important;
}
/*__________Framing__________*/
#columns {
	position: absolute;
	left: 0px;
    top: 0px;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    overflow: visible;
    background-color: green;
}
.column {
	padding: 0px !important;
	margin: 0px !important;
}
#column_1 {
    float: none;
    position: absolute;
    left: calc(50% - 500px);
    top: 525px;
    width: 312px;
    overflow: visible;
    background-color: blue;
}
#column_2 {
    float: none;
    position: absolute;
    left: calc(50% - 136px);
    top: 525px;
    width: 636px;
    background-color: blue;
}
#column_3 {
    float: none;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: purple;
}
/*__________Header Details__________*/
/*KDIVO*/
#column_3 .custom_panel:nth-of-type(1) {
	position: absolute;
	left: calc(50% - 445px);
    top: calc(100% + 375px);
    z-index: 6;
	width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
	background-color: rgba(0,0,0,0);
	background-image: url(https://s25.postimg.cc/dazea8qsv/KKKK.png);
}/*K*/
#column_3 .custom_panel:nth-of-type(2) {
	position: absolute;
	left: calc(50% - 340px);
	top: calc(100% + 375px);
    z-index: 5;
	width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
	background-color: rgba(0,0,0,0);
	background-image: url(https://s25.postimg.cc/4q62j2gmn/DDDD.png);
}/*D*/
#column_3 .custom_panel:nth-of-type(3) {
	position: absolute;
	left: calc(50% - 235px);
	top: calc(100% + 375px);
    z-index: 4;
	width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
	background-color: rgba(0,0,0,0);
	background-image: url(https://s25.postimg.cc/w21bkeldb/IIII.png);
}/*I*/
#column_3 .custom_panel:nth-of-type(4) {
	position: absolute;
	left: calc(50% - 130px);
	top: calc(100% + 375px);
    z-index: 3;
	width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
	background-color: rgba(0,0,0,0);
	background-image: url(https://s25.postimg.cc/q4xg3l48f/VVVV.png);
}/*V*/
#column_3 .custom_panel:nth-of-type(5) {
    position: absolute;
	left: calc(50% - 25px);
	top: calc(100% + 375px);
    z-index: 2;
	width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
	background-color: rgba(0,0,0,0);
	background-image: url(https://s25.postimg.cc/sxqnnm4kv/OOOO.png);
}/*O*/
/*Header Background*/
#id_details h2 {
	content: '';
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
	background-color: red;
}
#column_3 .custom_panel:nth-of-type(1) h2 {
    display: none;
}
#column_3 .custom_panel:nth-of-type(2) h2 {
    display: none;
}
#column_3 .custom_panel:nth-of-type(3) h2 {
    display: none;
}
#column_3 .custom_panel:nth-of-type(4) h2 {
    display: none;
}
#column_3 .custom_panel:nth-of-type(5) h2 {
    display: none;
}
/*__________Profile Contents (Column 1)__________*/
#column_1 .panel {
    width: 312px;
    margin-bottom: 20px;
    padding: 0px;
}
#column_1 .panel h2{
    margin: 0px;
    padding: 0px;
}
/*Details Section*/
#column_1 #id_details {
    
}
/*Media Section*/
#column_1 .media_panel {
    height: 330px;
    overflow: visible;
    background-color: rgba(0,0,0,0);
    background-image: url(https://s25.postimg.cc/mrp7gvanj/Media_Body.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
#column_1 .media_panel:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 312px;
    height: 118px;
    overflow: visible;
    background-image: url(https://s25.postimg.cc/59kcjtmsv/Media_Header2.png);
}
#column_1 .media_panel h2 {
    position: absolute;
    left: -75px;
    top: -75px;
    height: 254px;
    width: 254px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
}
#column_1 .media_panel h2:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 254px;
    width: 254px;
    border-radius: 50%;
    background-image: url(https://s25.postimg.cc/awgphapbj/ENJOY.png);
    background-repeat: no-repeat;
    background-position: center center;
    animation: innerpulse 0.342857s linear infinite;
    -webkit-animation: innerpulse 0.342857s linear infinite;
    -moz-animation: innerpulse 0.342857s linear infinite;
    -o-animation: innerpulse 0.342857s linear infinite;
}
#column_1 .media_panel h2:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 254px;
    width: 254px;
    border-radius: 50%;
    background-image: url(https://s25.postimg.cc/awgphapbj/ENJOY.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -o-transform: scale(1.12);
    animation: outerpulse 0.342857s linear infinite;
    -webkit-animation: outerpulse 0.342857s linear infinite;
    -moz-animation: outerpulse 0.342857s linear infinite;
    -o-animation: outerpulse 0.342857s linear infinite;
}
@keyframes innerpulse {
    0% {transform:scale(1.00);}
    100% {transform:scale(1.06);}
}
@-webkit-keyframes innerpulse {
    0% {transform:scale(1.00);-webkit-transform:scale(1.00);}
    100% {transform:scale(1.06);-webkit-transform:scale(1.06);}
}
@-moz-keyframes innerpulse {
    0% {transform:scale(1.00);-moz-transform:scale(1.00);}
    100% {transform:scale(1.06);-moz-transform:scale(1.06);}
}
@-o-keyframes innerpulse {
    0% {transform:scale(1.00);-o-transform:scale(1.00);}
    100% {transform:scale(1.06);-o-transform:scale(1.06);}
}
@keyframes outerpulse {
    0% {transform:scale(1.12);}
    100% {transform:scale(1.06);}
}
@-webkit-keyframes outerpulse {
    0% {transform:scale(1.12);-webkit-transform:scale(1.12);}
    100% {transform:scale(1.06);-webkit-transform:scale(1.06);}
}
@-moz-keyframes outerpulse {
    0% {transform:scale(1.12);-moz-transform:scale(1.12);}
    100% {transform:scale(1.06);-moz-transform:scale(1.06);}
}
@-o-keyframes outerpulse {
    0% {transform:scale(1.12);-o-transform:scale(1.12);}
    100% {transform:scale(1.06);-o-transform:scale(1.06);}
}
/*Friends Section*/
#column_1 #id_friends {
    
}
/*__________Profile Contents (Column 2)__________*/
#column_2 .panel {
    margin-bottom: 20px;
}
/*Status Section*/
#column_2 .custom_panel:nth-of-type(1) {
    
}
/*About Section*/
#column_2 #id_about {
    
}
/*Comments Section*/
#column_2 #id_comments {
    
}
/*__________Profile Contents (Side Floaters)__________*/
#column_3 .custom_panel:nth-of-type(6) {
    position: absolute;
}
#column_3 #id_footprints {
    position: absolute;
}
/*
content
float
position
left/right
top/bottom
z-index
box-sizing
width
height
overflow
margin
padding
border
background
font
*/